.text1 {
  color: wheat;
  font-size: 25px;
  background-image: url(https://www.wr-script.ru/foto/foto/11810008076.jpg);
  font-family: "Franklin Gothic Medium", sans-serif;
}
.image11 {
  size: 100%;
}
